.content form {
    padding: 15px 0;
}
.content form label {
    display: none;
}
.content form .form-control::placeholder {
    font-style: italic;
}
.table-striped th.id-column {
    width: 50px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e4e4e4;
    color: #000;
}

.pagination .page-link {
	color: #505b67;
}
.pagination .active .page-link:hover,
.pagination .active .page-link:focus {
    background-color: #696969;
    border-color: #8a8888;
}
.pagination .active .page-link {
    color: #fff;
    background-color: #696969;
    border-color: #8a8888;
}

.w-75 {
    width: 75%!important;
}
.float-none {
    float: none;
}
.px-0 {
    padding-left: 0!important;
    padding-right: 0!important;
}
.ml-2 {
    margin-left: .5rem!important;
}